:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary: #3b4d55;
  --secondary: #55433b;
  --accent: #ffbf52;

  --black: rgba(0, 0, 0, 0.91);
  --gray: #8a8a8a;
  --grey: #c9c9c9;
  --white: #ffffff;

  color-scheme: light;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:hover {
  color: unset;
}
